@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #005555;
    --secondary-color: #A1E3D8;
    --tertiary-color: #D2F4EE;
    --dark-color: #002b2b;
    --light-color: #e7fcf8;
}

ul{
    list-style: none;
}

textarea,
button{
    font-family: 'Lato', sans-serif;
}

body{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    user-select: none;
    width: 100vw;
}

.container{
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 12px;
    width: 66rem;
}

/* .notes-heading{
    display: inline-flex;
} */

.add-notes-btn{
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    margin-top: 0.8rem;
}
.add-notes-btn:hover{
    background-color: var(--dark-color);
}

.note-heading{
    height: 100%;
}

#notes-textarea{
    height: 6rem;
    padding: 1.2rem 1.4rem;
    color: var(--dark-color);
    background-color: var(--tertiary-color);
    border: none;
    outline: none;
    margin-inline: auto;
    width: 95%;
    border-radius: 8px;
    font-size: 1rem;
}

.notes_lists{
    margin-top: 2.4rem;
    /* gap: 1rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.notes_lists > .note-box{
    background-color: var(--tertiary-color);
    padding: 1.4rem;
    border-radius: 8px;
}


.notes_lists .note-box p{
    font-size: 1rem;
    color: var(--dark-color);
    line-height: 1.3;
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notes_lists .note-box .notes-buttons{
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-between;
}

.notes_lists .note-box .notes-buttons > i{
    font-size: 1.4rem;
    color: var(--primary-color);
}


.btn-small{
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 0.8rem;
    padding: 0.6rem 0.8rem;
    border: none;
    border-radius: 8px;
}

.btn-small:hover{
    background-color: var(--dark-color);
}

span#error{
    display: block;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    color: rgb(235, 4, 4);
}


.model-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.model-content{
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    padding: 2.6rem;
    min-height: 160px;
    width: 800px;
}

.model-content p{
    max-width: 90%;
    /* border: 2px solid darkgreen; */
}

.model-content i{
    font-size: 28px;
    color: var(--dark-color);
}

